.center {
    text-align: center;
}

.saveAndDeleteButtonContainer {
    text-align: center;
    padding: 2rem;
}

.saveAndDeleteButtonContainer button {
    border: none;
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 48px;
    border-radius: 48px;
    width: 250px;
    height: 48px;
    font-size: 16px;
}

.saveAndDeleteButtonContainer button.save {
    background: var(--color-green);
}

.saveAndDeleteButtonContainer button.delete {
    background: var(--color-red);
}
