body {
    margin: 0;
    font-family: Hind, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    /* Greys */
    --color-grey-1: #445368;
    --color-grey-2: #8d99aa;
    --color-grey-3: #d0d5dc;

    /* Blue */
    --color-blue: #00b3f5;

    /* Green */
    --color-green: #00cd50;

    /* Red */
    --color-red: #c81a0d;
}

* {
    box-sizing: border-box;
}