.center {
    text-align: center;
}


.addButtonContainer {
    text-align: center;
    padding: 2rem;
}

.addButtonContainer button {
    border: none;
    text-decoration: none;
    background: var(--color-green);
    color: white;
    display: inline-block;
    line-height: 48px;
    border-radius: 48px;
    width: 250px;
    height: 48px;
    font-size: 16px;
}
