.inputField {
    margin-bottom: 1rem;
}

.inputField label {
    display: block;
    color: var(--color-grey-2);
    margin-bottom: 8px;
}

.inputField input {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 8px 16px;
    border: 1px solid var(--color-grey-3);
}
