header {
    background: var(--color-blue);
    color: white;
    padding: 1rem;
    font-size: 22px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px;
    border-bottom: 1px solid var(--color-grey-3);
}

ul li a div {
    display: flex;
    justify-content: space-between;
}

.paymentItem {
    text-decoration: none;
    color: var(--color-grey-1);
}

.paymentItem p {
    margin: 0;
}

.paymentItem div {
    display: flex;
    justify-content: space-between;
}

.nameAndAmount {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.dateAndFrequency {
    color: var(--color-grey-2);
}

.addButtonContainer {
    text-align: center;
    padding: 2rem;
}

.addButtonContainer a {
    text-decoration: none;
    background: var(--color-green);
    color: white;
    display: inline-block;
    line-height: 48px;
    border-radius: 48px;
    width: 250px;
    height: 48px;
}
